<h1>Venues</h1>
<ul>
  <% @venues.each do |venue| %>
    <li>
      <%= link_to "#{venue.name}, #{venue.location}", venue_path(venue) %>
    </li>
     
  <% end %>
</ul>
<%= link_to "Create a new Venue", new_venue_path %>
