.navbar {
    background-color: #15a7d8;
    color: #20a42f;
    padding: 10px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
  }